<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
<main role="main" layout:fragment="container" class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">Rocznik</th>
            <th scope="col">nr Rej</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <th scope="row" th:text="${car.id}">1</th>
            <td th:text="${car.marka}">Mark</td>
            <td th:text="${car.model}">Otto</td>
            <td th:text="${car.rocznik}">Otto</td>
            <td th:text="${car.nrRej}">Otto</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
