<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
</head>
<body>
<main role="main" layout:fragment="container" class="container">
    <form method="post" th:action="@{/policy/save}" th:object="${policy}">
        <input class="form-control" type="text" th:field="*{id}" disabled="disabled"/></br>
        <input class="form-control" type="text" th:field="*{mark}"/></br>
        <input class="form-control" type="text" th:field="*{model}"/></br>
        <input class="form-control" type="text" th:field="*{productionYear}"/></br>
        <input class="form-control" type="text" th:field="*{value}"/></br>
        <input class="form-control" type="text" th:field="*{expireDate}"/></br>
        <input class="form-control" type="submit" value="OK"/>
    </form>
</main>
</body>
</html>
