<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
</head>
<body>
<form method="post" th:action="@{/policy/new/save}" th:object="${policyDto}">
    <input type="text" placeholder="marka" th:field="*{marka}"/><br/>
    <input type="text" placeholder="model" th:field="*{model}"/><br/>
    <input type="number" placeholder="rocznik" th:field="*{rocznik}"/><br/>
    <input type="text" placeholder="nrRej" th:field="*{nrRej}"/><br/>
    <input type="text" placeholder="firstName" th:field="*{firstName}"/><br/>
    <input type="text" placeholder="lastName" th:field="*{lastName}"/><br/>
    <input type="text" placeholder="value" th:field="*{value}"/><br/>
    <input type="text" placeholder="expireDate" th:field="*{expireDate}"/><br/>
    <input type="submit" value="OK"/>
</form>
</body>
</html>
